/*=====================IMPORT=====================*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:wght@300&display=swap');
/*====================FONT=====================*/
.typo-txt{  font-family: var(--typo-txt);}

.typo-title{    font-family: var(--typo-title);}
/*====================COLOR=======================*/
.txt-orange{    color: var(--orange);}

.txt-white{     color: var(--white);}

.bg-grey{       background-color: var(--grey);}

.bg-orange{     background-color: var(--orange);}

.typo-title{    font-family: 'Noto Sans JP', sans-serif;}

.typo-txt{      font-family: 'Roboto', sans-serif;}

/*===================BTN========================*/
.btn{
    border: 1px solid var(--white);
    transition: .5s;
}
.btn:hover{
    background-color: var(--orange);
    color: var(--white);
    transform: translate(5px, -5px);
    box-shadow: 2px 2px 10px var(--orange);
}
html{
    scroll-behavior: smooth;
}